@font-face {
  font-family: 'Beachday';
  src: url('../assets/beachday/beachday.otf') format('opentype'),
       url('../assets/beachday/beachday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ByteBounce';
  src: url('../assets/bytebounce/ByteBounce.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PixelGame';
  src: url('../assets/pixel-game/Pixel Game.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PixelGameExtrude';
  src: url('../assets/pixel-game/Pixel Game Extrude.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
